{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Login User</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="items"><a href='#'>About us</a></li>
                <li  class="right"><a href="{% url 'login' %}">Login</a></li>
                <li  class="right"><a href="{% url 'register' %}">Register</a></li>
            </ul>
        </nav>
    </header>
    <div class='login'>
        <h2>Login Here</h2>
        <form action="login" method='post' class='login-form'>
            {% csrf_token %}
            <label for='uname'>Username</label>
            <input type='text' name='uname' id='uname' placeholder="Username">
            <label for='psword'>Password</label>
            <input type='password' name='psword' id='psword' placeholder="Password">
            <input type="submit" value='Login'>
        </form>
    </div>
</body>
</html>